.forget-pass {
  position: absolute;
  height: 230px;
  top: 35px;
  margin-left: 15px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
  border: none;
}

.forget-pass .panel-body {
  height: 100%;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid rgba(0,0,0,0.08);
  bottom: -15px;
  right: 100px;
}

.arrow:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid #fff;
  top: -15px;
  left: -10px;
}

.form-for-pass-hdr {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 22px;
}

.email-inp {
  height: 52px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sub-btn[disabled]{
	background-color: #C5CAE9;
}

.error-container .error-msg {
    color: red;
    font-size: 12px;
    padding: 1px;
}
