@import "bourbon";


.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.form-signin, .form-signup {
  width: 380px;
  padding: 30px 25px 30px 25px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
}

.email-inp, .pass-inp, .user-name-inp {
    height: 52px;
}
.auth-cont .checkbox {
  margin-top: 0px;
  margin-bottom: 16px;
}
.form-signin-heading, .form-signup-heading {
   text-align: center;
   margin-top: 0px;
   margin-bottom: 15px;
}

.md-whiteframe-2dp {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
}

.auth-cont .sub-btn:hover {
	color: #fff;
}

.auth-cont .sub-btn {
    margin-bottom: 10px;
}

.error-container .error-msg {
    color: red;
    font-size: 12px;
    padding: 1px;
}

.sub-btn[disabled], .sub-btn[disabled]:hover{
	background-color: #C5CAE9;
}

.forget-pass {
	cursor: pointer;
}