<div class="panel panel-default forget-pass col-xs-11" (clickOutSide)="closePannel($event)" (escKeyPressed)="closePannel($event)">
  <div class="panel-body">
    <form  #forgetPass="ngForm" novalidate>
      <h2 class="form-for-pass-hdr secondary-text-color">Forget Password</h2>
      <div class="email-inp">
        <input type="text" class="form-control " [(ngModel)]="user.email" name="email" placeholder="Email Address" required #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
        <div class="error-container" [hidden]="email.valid || email.untouched">
          <div class="error-msg" *ngIf="email.errors && email.errors.required">
              Please enter your email.
          </div>
          <div class="error-msg" *ngIf="email.errors && email.errors.pattern">
              Please enter an valid email.
          </div>
        </div>
      </div>

      <button class="btn btn-lg accent-color btn-block sub-btn" type="submit" [disabled]="!forgetPass.valid">Send Mail</button>
    </form>
  </div>
  <div class="arrow"></div>
</div>