.main-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3rem;
  color: white;
  line-height: 3rem;
  transform: translateY(0);
  transform: translate3d(0,0,0);
  transition: .25s transform;
  backface-visibility: hidden;
  height: 50px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.39);
}

.main-header h1 {
  float: left;
  font-size: 1.4rem;
  margin: 0 0 0 2rem;
  text-transform: uppercase;
}

.main-header nav {
  float: right;
  font-size: 1.4rem;
}

.main-header nav ul {
  margin: 0;
  padding: 0;
}

.main-header nav li {
  display: inline-block;
  padding: 0 2rem;
  border-left: .1rem solid #555;
}

.logo {
  height: 40px;
  display: inline-block;
  margin: 5px;
}