<div class="col-md-4 ">
  <div class="panel panel-default card-container">
    <div class="panel-body card">
        <div class="card-header text-primary-color">
            <h3>{{todo.name}}</h3>
         </div>
         <div class="card-content secondary-text-color">
            <div>
              {{todo.description}}         	
            </div>
         </div>
         <div class="col-md-12 card-footer secondary-text-color">
             <small>Created on 12th Dec</small>       	
         </div>
    </div>
   </div>
</div>